.header {
    .btn-menu{
        display: none;
    }
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  transition: all 0.3s;
  height: 65px;
  &-nav__list {
    display: flex;
    align-items: center;
    justify-content: s;
  }
  &-nav__item {
    margin-right: 30px;
    font-size: 15px;
    font-weight: bold;
  }
  &-nav__item:last-child {
    margin-right: 0;
  }
}
.active {
  background-color: #21054d;
}
@include mq("sp") {
  .header {
    height: 60px;
    &-logo img {
      width: 116px;
      height: 18px;
    }
    &-nav {
      display: none;
    }
    .btn-menu {
      position: relative;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      padding: 5px;
      cursor: pointer;
      text-align: center;
      opacity: 0.9;
      border: none;
      outline: none;
      background: none;
      -webkit-appearance: none;
      appearance: none;
      font-size: 12px;
      &__line {
        position: relative;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: #fff;
        &::before {
          position: absolute;
          bottom: -11px;
          left: 0;
          display: block;
          width: 100%;
          height: 2px;
          content: "";
          transition: inherit;
          border-radius: 4px;
          background-color: #fff;
        }
        &::after {
          position: absolute;
          bottom: 11px;
          left: 0;
          display: block;
          width: 100%;
          height: 2px;
          content: "";
          transition: inherit;
          border-radius: 4px;
          background-color: #fff;
        }
      }
    }
  }
}
