.header {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  transition: all 0.3s;
  height: 65px;
  &-nav__list {
    display: flex;
    align-items: center;
    justify-content: s;
  }
  &-nav__item {
    margin-right: 30px;
    font-size: 15px;
    font-weight: bold;
  }
  &-nav__item:last-child {
    margin-right: 0;
  }
  #navArea{
    display: none;
  }
}
.active {
  background-color: #21054d;
}
@include mq("sp") {
  .header {
    height: 60px;
    &-logo img {
      width: 116px;
      height: 18px;
    }
    &-nav {
      display: none;
    }
    #navArea{
    display: block;
  }
  }
}
