.recruit{
  margin-bottom: 100px;
  .inner{
    display: flex;
    align-items: center;
  }
  &__contents{
    width: 445px;
    height: 340px;
    background-color: #F7F7F7;
    text-align: center;
    padding: 75px 0 70px;
    .recruit-heading{
      margin-bottom: 30px;
    }
    .recruit__txt{
      margin-bottom: 30px;
    }
  }
  &__img{
    width: 665px;
    height: 340px;
  }
}